deb [arch=armhf,arm64 trusted=yes] https://mendel-linux.org/apt/eagle eagle main
deb-src [trusted=yes] https://mendel-linux.org/apt/eagle eagle main
deb [arch=armhf,arm64 trusted=yes] https://mendel-linux.org/apt/eagle eagle-bsp-%BOARDNAME% main
deb-src [trusted=yes] https://mendel-linux.org/apt/eagle eagle-bsp-%BOARDNAME% main
