deb [arch=armhf,arm64 trusted=yes] https://packages.cloud.google.com/apt mendel-day main
deb-src [trusted=yes] https://packages.cloud.google.com/apt mendel-day main
deb [arch=armhf,arm64 trusted=yes] https://packages.cloud.google.com/apt mendel-bsp-%BOARDNAME%-day main
deb-src [trusted=yes] https://packages.cloud.google.com/apt mendel-bsp-%BOARDNAME%-day main
