Source: weston-imx
Section: x11
Priority: optional
Maintainer: AIY Projects <support-aiyprojects@google.com>
Build-Depends:
 debhelper (>=10),
 libwayland-dev,
 pkg-config
Standards-Version: 4.1.1

Package: weston-imx
Section: libdevel
Architecture: arm64
Priority: extra
Depends:
 libinput10,
 libxcb-shape0,
 libxcb-composite0,
 ${shlibs:Depends},
 ${misc:Depends}
Multi-Arch: foreign
Provides: weston
Description: Weston compositor w/ IMX support.
